{% extends "registration/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Olvidaste Tu Contraseña?{% endblock title %}

{% block content %}
<h2 class="mt-6 text-3xl font-extrabold text-gray-900" >Olvidaste tu contraseña?</h2>
<p class="mt-2 text-sm text-gray-600" >Ingrese su dirección de correo a continuación y enviaremos instrucciones
  para establecer una nueva.</p>

<form class="mt-8 space-y-6" method="POST">{% csrf_token %}
  {{ form|crispy }}

  <div class="flex items-center justify-between">
    <div class="text-sm">
      <a href="{% url 'login' %}" class="font-medium text-blue-600 hover:text-blue-500"> Volver a inicio </a>
    </div>
  </div>
  <div>
    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
        <!-- Heroicon name: solid/lock-closed -->
        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
      </span>
      Enviar
    </button>
  </div>
</form>
{% endblock content %}


