{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Contacto {% endblock title %}


{% block content %}
<section class="text-gray-600  body-font ">
  <div class="container py-5 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contáctanos</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Manténgase en contacto con nosotros.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <!-- Form Contact -->
      <form method="post">
        {% csrf_token %}
      <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              {{ form.name | as_crispy_field }}
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              {{ form.phone | as_crispy_field }}
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              {{ form.from_email | as_crispy_field }}
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              {{ form.subject | as_crispy_field }}
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              {{ form.message | as_crispy_field }}
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enviar</button>
          </div>
      </div>
      </form>
      <!-- Additional Information -->
      <div class="p-2 w-full pt-8  my-10 border-t border-gray-300 text-center">
        <p ><b>Dirección:</b> </p>
        <p class="leading-normal mb-5">New York, NY 10012, US </p>
        <p ><b>Correo:</b> </p>
        <a href="mailto:example@gmail.com" target="_blank" class="text-indigo-500 ">example@gmail.com</a>

        <p class="mt-5"><b>Teléfono:</b> </p>
        <p class="leading-normal mb-5">+56 923 232 323</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
    
