{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Nueva Propiedad {% endblock title %}


{% block content %}

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
<div class="w-1/2 space-y-8">
  <h1>
    <span class="my-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Agregar Nueva Propiedad</span>
  </h1>
    <form class="mt-8 space-y-6" action="#" method="POST" enctype="multipart/form-data">
        {% include 'partials/alerts.html' %}
        {% csrf_token %}
        {{ form | crispy }}
          <div class="flex space-x-4 justify-center">
            <a href="#" type="button" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-danger-400 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
              Cancelar
            </a>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-blue-400 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5 21h14a2 2 0 0 0 2-2V8l-5-5H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zM7 5h4v2h2V5h2v4H7V5zm0 8h10v6H7v-6z"></path></svg>
              Guardar Registro
            </button>
          </div>

      </form>
        
</div>
</div>

{% endblock content %}
    
