{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
<div class="max-w-6xl mx-auto py-12 px-6 xl:px-0">
  <form action="." method="POST" enctype="multipart/form-data" autocomplete="off" class="space-y-4" novalidate>
    {% csrf_token %}
  <!-- General -->
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">General</h2>

    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-6 gap-6">
          <!-- <div class="col-span-6 sm:col-span-3"> -->
            <!-- <label for="property_type" class="block text-sm font-medium text-gray-700">Tipo de propiedad</label> -->
            {{ form.property_type }}
          <!-- </div> -->

          <div class="col-span-6 sm:col-span-3">
            <!-- <label for="publish_type" class="block text-sm font-medium text-gray-700">{{ form.publish_type.label }}</label> -->
            {{ form.publish_type | as_crispy_field }}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <!-- <label for="land_surface" class="block text-sm font-medium text-gray-700">{{ form.land_surface.label }}</label> -->
            {{ form.land_surface | as_crispy_field  }}
          </div>

          <div class="col-span-6 sm:col-span-2">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                {{ form.is_featured | as_crispy_field  }}
              </div>
              <!-- <div class="ml-3 text-sm">
                <label for="candidates" class="font-medium text-gray-700">{{ form.is_featured.label }}</label>
              </div> -->
            </div>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                {{ form.is_new | as_crispy_field  }}
              </div>
              <!-- <div class="ml-3 text-sm">
                <label for="candidates" class="font-medium text-gray-700">{{ form.is_new.label }}</label>
              </div> -->
            </div>
          </div>



          <div class="col-span-4">
            {{ form.title | as_crispy_field  }}
          </div>

          <div class="col-span-6">
            <!-- <label for="description" class="block text-sm font-medium text-gray-700">{{ form.description.label }}</label> -->
            {{ form.description | as_crispy_field  }}
          </div>

          <div class="col-span-3 sm:col-start-1 sm:col-end-3">
            <!-- <label for="type_price" class="block text-sm font-medium text-gray-700">{{ form.type_price.label }}</label> -->
            {{ form.type_price | as_crispy_field  }}
          </div>

          <div class="col-span-3 sm:col-end-7 sm:col-span-2">
            <!-- <label for="price" class="block text-sm font-medium text-gray-700">{{ form.price.label }}</label> -->
            {{ form.price | as_crispy_field  }}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <!-- <label for="publish_type" class="block text-sm font-medium text-gray-700">{{ form.google_url.label }}</label>
            <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">iframe</span>
            {{ form.google_url }}
            </div> -->
            {{ form.google_url | as_crispy_field }}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <!-- <label for="publish_type" class="block text-sm font-medium text-gray-700">{{ form.video_url.label }}</label>
            <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">http://</span>
            {{ form.video_url }}
            </div> -->
            {{ form.video_url | as_crispy_field }}
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ubicación -->
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Ubicación</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <!-- <label for="region" class="block text-gray-700 text-sm font-bold mb-2"> {{ form.region.label }}</label> -->
                <label for="region" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.region.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form.region }}
                </div>

                  {% if form.errors %}
                    {% for field in form %}

                      {% if field.label == 'Región' %}
                        {% for error in field.errors %} 
                        <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
         
              </div>
              
              <div class="col-span-6 sm:col-span-3">
                <label for="commune" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form.commune.label }}<span class="asteriskField">*</span>
                </label>
                <div id="communes" class="mb-3">
                  {% block commune %}
                      
                    <select {% if disabled %} disabled {% endif %} name="commune" id="id_commune" class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700{% if disabled %} bg-gray-200 {% else %} bg-white {% endif %}" required autocomplete="off">
                      <option value="" >---------</option>
                      {% for commune in communes %}
                          {% if commune == commune_selected %}
                              <option value="{{ commune.id }}" selected>{{ commune.name }}</option>
                          {% else %}
                              <option value="{{ commune.id }}">{{ commune.name }}</option>
                          {% endif %}
                      {% endfor %}
                    </select>     

                  {% endblock commune %}
                </div>

                {% if form.errors %}
                {% for field in form %}

                  {% if field.label == 'Comuna' %}
                    {% for error in field.errors %} 
                    <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                    {% endfor %}
                {% endif %}
                {% endfor %}
              {% endif %}
              </div>

              <div class="col-span-6 sm:col-span-3">
                {{ form.street_address | as_crispy_field  }}
              </div>

              <div class="col-span-6 sm:col-span-3">
                {{ form.street_number | as_crispy_field  }}
              </div>
            </div>
          </div>
        </div>
  </div>

  <!-- Extra -->
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Información adicional</h2>
  
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            {% if form.property_type.value == 'ca' %}
            <div class="grid grid-cols-6 gap-6"> 
              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_cellars" class="block text-sm font-medium text-gray-700">{{ form_extra.builded_surface.label }}</label> -->
                {{ form_extra.builded_surface | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_rooms" class="block text-sm font-medium text-gray-700">{{ form_extra.num_rooms.label }}</label> -->
                {{ form_extra.num_rooms | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_bathrooms" class="block text-sm font-medium text-gray-700">{{ form_extra.num_bathrooms.label }}</label> -->
                {{ form_extra.num_bathrooms | as_crispy_field }}
              </div>
              
              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="common_expenses" class="block text-sm font-medium text-gray-700">{{ form_extra.common_expenses.label }}</label> -->
                {{ form_extra.common_expenses | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="builded_year" class="block text-sm font-medium text-gray-700">{{ form_extra.builded_year.label }}</label> -->
                {{ form_extra.builded_year | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_parkings" class="block text-sm font-medium text-gray-700">{{ form_extra.num_parkings.label }}</label> -->
                {{ form_extra.num_parkings | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_cellars" class="block text-sm font-medium text-gray-700">{{ form_extra.num_cellars.label }}</label> -->
                {{ form_extra.num_cellars | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="num_floors" class="block text-sm font-medium text-gray-700">{{ form_extra.num_floors.label }}</label> -->
                {{ form_extra.num_floors | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="house_number" class="block text-sm font-medium text-gray-700">{{ form_extra.num_house.label }}</label> -->
                {{ form_extra.num_house | as_crispy_field }}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form_extra.service.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form_extra.service   }}
                </div>

                  {% if form.errors %}
                    {% for field in form_extra %}
                      {% if field.label == 'Servicios' %}
                        {% for error in field.errors %} 
                        <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form_extra.distribution.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form_extra.distribution   }}
                </div>

                  {% if form.errors %}
                    {% for field in form_extra %}
                      {% if field.label == 'Distribución' %}
                        {% for error in field.errors %} 
                        <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form_extra.kitchen.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form_extra.kitchen   }}
                </div>

                  {% if form.errors %}
                    {% for field in form_extra %}
                      {% if field.label == 'Cocina' %}
                        {% for error in field.errors %} 
                        <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
              </div>

              <div class="col-span-6 sm:col-span-2">
                <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                  {{ form_extra.other.label }}<span class="asteriskField">*</span>
                </label>

                <div class="mb-3">
                  {{ form_extra.other   }}
                </div>

                  {% if form.errors %}
                    {% for field in form_extra %}
                      {% if field.label == 'Otros' %}
                        {% for error in field.errors %} 
                        <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
              </div>

            </div>
            {% elif form.property_type.value == 'de' %}
            <div class="grid grid-cols-6 gap-6"> 
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_cellars" class="block text-sm font-medium text-gray-700">{{ form_extra.builded_surface.label }}</label> -->
                  {{ form_extra.builded_surface | as_crispy_field }}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_rooms" class="block text-sm font-medium text-gray-700">{{ form_extra.num_rooms.label }}</label> -->
                  {{ form_extra.num_rooms | as_crispy_field }}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_bathrooms" class="block text-sm font-medium text-gray-700">{{ form_extra.num_bathrooms.label }}</label> -->
                  {{ form_extra.num_bathrooms | as_crispy_field }}
                </div>

                <div class="col-span-6 sm:col-span-2">
                    <!-- <label for="common_expenses" class="block text-sm font-medium text-gray-700">{{ form_extra.common_expenses.label }}</label> -->
                    {{ form_extra.common_expenses | as_crispy_field }}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="builded_year" class="block text-sm font-medium text-gray-700">{{ form_extra.builded_year.label }}</label> -->
                  {{ form_extra.builded_year | as_crispy_field }}
                </div>
                  
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_parkings" class="block text-sm font-medium text-gray-700">{{ form_extra.num_parkings.label }}</label> -->
                  {{ form_extra.num_parkings | as_crispy_field }}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_cellars" class="block text-sm font-medium text-gray-700">{{ form_extra.num_cellars.label }}</label> -->
                  {{ form_extra.num_cellars | as_crispy_field }}
                </div>

                <div class="col-span-6 sm:col-span-2">
                  <!-- <label for="num_floors" class="block text-sm font-medium text-gray-700">{{ form_extra.num_floors.label }}</label> -->
                  {{ form_extra.num_floors | as_crispy_field }}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                    <!-- <label for="num_apartment" class="block text-sm font-medium text-gray-700">{{ form_extra.num_apartment.label }}</label> -->
                    {{ form_extra.num_apartment | as_crispy_field }}
                </div>

                <div class="col-span-6 sm:col-span-2">
                  <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                    {{ form_extra.service.label }}<span class="asteriskField">*</span>
                  </label>
  
                  <div class="mb-3">
                    {{ form_extra.service   }}
                  </div>
  
                    {% if form.errors %}
                      {% for field in form_extra %}
                        {% if field.label == 'Servicios' %}
                          {% for error in field.errors %} 
                          <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                          {% endfor %}
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                    {{ form_extra.distribution.label }}<span class="asteriskField">*</span>
                  </label>
  
                  <div class="mb-3">
                    {{ form_extra.distribution   }}
                  </div>
  
                    {% if form.errors %}
                      {% for field in form_extra %}
                        {% if field.label == 'Distribución' %}
                          {% for error in field.errors %} 
                          <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                          {% endfor %}
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                    {{ form_extra.kitchen.label }}<span class="asteriskField">*</span>
                  </label>
  
                  <div class="mb-3">
                    {{ form_extra.kitchen   }}
                  </div>
  
                    {% if form.errors %}
                      {% for field in form_extra %}
                        {% if field.label == 'Cocina' %}
                          {% for error in field.errors %} 
                          <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                          {% endfor %}
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>
  
                <div class="col-span-6 sm:col-span-2">
                  <label for="" class="block text-gray-700 text-sm font-bold mb-2">
                    {{ form_extra.other.label }}<span class="asteriskField">*</span>
                  </label>
  
                  <div class="mb-3">
                    {{ form_extra.other   }}
                  </div>
  
                    {% if form.errors %}
                      {% for field in form_extra %}
                        {% if field.label == 'Otros' %}
                          {% for error in field.errors %} 
                          <p class="text-red-500 text-xs italic"><strong>{{ error|escape }}</strong></p>
                          {% endfor %}
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
  </div>


  <!-- Contacto -->
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Contacto</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">

              <div class="col-span-6 sm:col-span-2">
                <!-- <label for="phone2" class="block text-sm font-medium text-gray-700">{{ form.email.label }}</label> -->
                {{ form.realtor | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
  </div>

  <!-- Miniatura -->
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Imagenes</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 ">
                <!-- <label for="thumbnail" class="block text-sm font-medium text-gray-700">{{ form.thumbnail.label }}</label> -->
                {{ form.thumbnail | as_crispy_field }}
              </div>

              <!-- <div class="col-span-6 ">
                <label for="more_images" class="block text-sm font-medium text-gray-700">{{ form.more_images.label }}</label>
                {{ form.more_images }}
              </div> -->
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Guardar
            </button>
          </div>
        </div>
  </div>
  </form>
</div>
{% endblock content %}