{% extends '_base.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
    
<div class="max-w-6xl mx-auto py-12 px-6 xl:px-0">
  <form action="." method="POST" enctype="multipart/form-data" autocomplete="off" class="space-y-4">
    {% csrf_token %}
  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">General</h2>

    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-6 gap-6">
          <!-- <div class="col-span-6 sm:col-span-3"> -->
            <!-- <label for="property_type" class="block text-sm font-medium text-gray-700">Tipo de propiedad</label> -->
            {{ form.property_type }}
          <!-- </div> -->

          <div class="col-span-6 sm:col-span-3">
            <label for="publish_type" class="block text-sm font-medium text-gray-700">{{ form.publish_type.label }}</label>
            {{ form.publish_type }}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="land_surface" class="block text-sm font-medium text-gray-700">{{ form.land_surface.label }}</label>
            {{ form.land_surface }}
          </div>

          <div class="col-span-6 sm:col-span-3">

          </div>


          <div class="col-span-4">
            <label for="title" class="block text-sm font-medium text-gray-700">{{ form.title.label }}</label>
            {{ form.title }}
          </div>

          <div class="col-span-6">
            <label for="description" class="block text-sm font-medium text-gray-700">{{ form.description.label }}</label>
            {{ form.description }}
          </div>

          <div class="col-span-3 sm:col-start-1 sm:col-end-3">
            <label for="type_price" class="block text-sm font-medium text-gray-700">{{ form.type_price.label }}</label>
            {{ form.type_price }}
          </div>

          <div class="col-span-3 sm:col-end-7 sm:col-span-2">
            <label for="price" class="block text-sm font-medium text-gray-700">{{ form.price.label }}</label>
            {{ form.price }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Ubicación</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="region" class="block text-sm font-medium text-gray-700"> {{ form.region.label }}</label>
                {{ form.region }}
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="commune" class="block text-sm font-medium text-gray-700">{{ form.commune.label }}</label>
                <div id="communes">
                  {% include 'properties/partials/commune_select.html' %}
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="street_address" class="block text-sm font-medium text-gray-700">{{ form.street_address.label }}</label>
                {{ form.street_address }}
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="street_number" class="block text-sm font-medium text-gray-700">{{ form.street_number.label }}</label>
                {{ form.street_number }}
              </div>
            </div>
          </div>
        </div>
  </div>

  {% include 'properties/property_create_extra.html' %}

  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Contacto</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6  sm:col-span-2">
                <label for="phone1" class="block text-sm font-medium text-gray-700">{{ form.phone1.label }}</label>
                {{ form.phone1 }}
              </div>
              
              <div class="col-span-6 sm:col-span-2">
                <label for="phone2" class="block text-sm font-medium text-gray-700">{{ form.phone2.label }}</label>
                {{ form.phone2 }}
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="mt-5 md:mt-0 md:col-span-2 shadow-xl">
    <h2 class="px-6 py-4 text-xl font-semibold bg-gray-100 rounded-t-md">Imagenes</h2>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 ">
                <label for="thumbnail" class="block text-sm font-medium text-gray-700">{{ form.thumbnail.label }}</label>
                {{ form.thumbnail }}
              </div>

              <div class="col-span-6 ">
                <label for="more_images" class="block text-sm font-medium text-gray-700">{{ form.more_images.label }}</label>
                {{ form.more_images }}
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Guardar
            </button>
          </div>
        </div>
  </div>
  </form>
</div>
{% endblock content %}