{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Detalle de Propiedad {% endblock title %}

    
    
{% block head %}     
{% comment %} CDN Owl Carousel {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}}

{% block content %}
      <!-- Image gallery -->
      {% include 'partials/properties/house/carousel.html' %}

  <div class="max-w-4xl mx-auto px-4 sm:px-6 md:px-8">


      <h2 class='text-xl font-extrabold'>Informacion Básica</h2>
      <p class='border-2 my-2'></p>
      <p class="text-sm text-gray-600 text-clip">
        Dormitorios: <b>{{ property.num_rooms }}</b><br>
        Baños: <b>{{ property.num_bathrooms }}</b><br>
        Metros construidos: <b>{{ property.builded_surface }} m²</b><br> 
        Superficie terreno: <b>{{ property.land_surface }} m²</b><br> 
        {% comment %} Orientacion: 6 {% endcomment %}
        {% comment %} Servicios: 1 {% endcomment %}
        Estacionamientos: <b>{{ property.num_parkings }}</b><br>
        Fecha publicación: <b>{{ property.created_date | date:"d-m-Y" }}</b><br>
        {% comment %} Dividendo estimado: 27,1 UF/mes | Simular  {% endcomment %}
      </p> 

      <h2 class='text-xl font-extrabold mt-4'>Información Adicional</h2>
      <p class='border-2 my-2'></p>
      <p class="text-sm text-gray-600 text-clip break-words">   
        {{ property.description }}    
      </p> 

      <h2 class='text-xl font-extrabold mt-4 mb-2'>Ubicación</h2>
      <div class=" bg-gray-300 rounded-lg overflow-hidden flex items-center justify-center relative mx-auto mb-4">
        <iframe class='w-full' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.242372905776!2d-71.54117718427884!3d-32.94460978092166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689dd30432b5057%3A0x752906d8e590807!2sLos%20Ginkos%20760%2C%20Conc%C3%B3n%2C%20Valpara%C3%ADso!5e0!3m2!1ses!2scl!4v1659669098061!5m2!1ses!2scl" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
      </div>

      {% comment %} <div class="flex mb-4">
        {% include 'partials/properties/house/tab_detail.html' %}
      </div> {% endcomment %}


  </div>


  
  
{% endblock content %}
    

{% block js %}
{% comment %}  CDN Jquery {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% comment %} CDN Owl carousel {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% comment %} Script Owl Carousel {% endcomment %}
<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    items:1
})
</script>
{% endblock js %}
  






