{% extends '_base.html' %}
{% load static %}
{% block title %} Propiedades {% endblock title %}


{% block content %}

{% include 'partials/search.html' %}

<section class="px-4 py-4  lg:px-20 lg:py-8">
           {% include 'partials/horizontal_list.html' %}

    {% comment %} <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        {% for property in page_obj %}
        {% include 'partials/list.html' %}
        {% empty %}
        <h3><b>No se han encontrado resultados para su busqueda</b></h3>
        {% endfor %}
    </div> {% endcomment %}

    {% comment %} <div class="container flex justify-center mx-auto mt-8">
        <ul class="flex">
            {% if page_obj.has_previous %}
            <li><a href="?q={{q}}&page={{page_obj.previous_page_number}}" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"">Prev</a>
            </li>
            {% endif %}

            {% if 2 in page_obj.paginator.page_range %}
            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
            <li ><a href="?q={{q}}&page={{ i }}" class="z-10 bg-blue-700 border-blue-500 text-white relative inline-flex items-center px-4 py-2 border text-sm font-medium" >{{ i }}</a> </li>
            {% else %}
            <li><a href="?q={{q}}&page={{ i }}" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{ i }}</a> </li>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?q={{q}}&page={{page_obj.next_page_number}}" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"">Next</a>
            </li>
            {% endif %}
        </ul>
    </div> {% endcomment %}

</section>    

{% endblock content %}
    
