{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Detalle de Propiedad {% endblock title %}

    
{% block head %}
    <!-- Tailwind Elements CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
{% endblock head %}

{% block content %}
      <!-- Image gallery -->
      {% include 'partials/properties/carousel.html' %}

  <div class="max-w-4xl mx-auto px-4 sm:px-6 md:px-8">


      <h2 class='text-xl font-extrabold'>Informacion basica</h2>
      <p class='border-2 my-2'></p>
      <p class="text-sm text-gray-600 text-clip mb-4">
        Superficie útil desde: 57,13 m² <br>
        Desde: 3 Dormitorios, 1 Baño<br>
        Dirección: Camino a Tutuquén 2075 , Curicó, Maule<br>
        Fecha de entrega: Inmediata<br>
        Inmobiliaria: Inmobiliaria Noval S.A.<br>
        Construye: Inmobiliaria Noval S.A.<br>
        Arquitecto: sin información<br>
        Cantidad de pisos: 4<br>
        Dividendo estimado: 10 UF/mes | Simular
      </p> 

      <h2 class='text-xl font-extrabold mb-4'>Informacion adicional</h2>
      <p class='border-2 my-2'></p>
      <p class="text-sm text-gray-600 text-clip ">       
      Portal de Tutuquén es un condominio de departamentos desarrollados con todo lo que necesitas para vivir de la mejor manera junto a tu familia, ubicado en un entorno natural, tranquilo y residencial, con movilización a la puerta del proyecto, cercano a comercios, supermercados, y colegios.
      Este proyecto ofrece áreas verdes con máquinas de ejercicios. En su interior cuenta con cerámica antideslizante, dormitorios alfombrados, cocina con lavaplatos y mueble aéreo, y además cuentan con logia cerrada con lavadero y conexión a lavadora.
      </p> 

      <div class="flex mb-4">
        {% include 'partials/properties/tab_detail.html' %}
      </div>


  </div>


  
  
{% endblock content %}
    

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
{% endblock js %}
  






