<table class="min-w-max w-full table-auto ">
    <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">Tipo</th>
            <th class="py-3 px-6 text-left">Código</th>
            <th class="py-3 px-6 text-left">Comuna</th>
            <th class="py-3 px-6 text-center">Valor referencial</th>
            <th class="py-3 px-6 text-center">Acciones</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
        {% for property in property_list  %}
        <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                    <span class="font-medium">{{ property.location.get_property_type_display }} {{ property.get_publish_type_display }}</span>
                </div>
            </td>
            <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                    <span>{{ property.uuid }}</span>
                </div>
            </td>
            <td class="py-3 px-6 text-left">
                <div class="flex items-center ">
                    <span> {{ property.location.commune | title }}</span>
                </div>
            </td>
            <td class="py-3 px-6 text-center">
                {% if property.type_price == 'uf' %} UF {{ property.price}} {% else %} $ {{ property.price}} {% endif %}
            </td>
            <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center space-x-1">
                    {% include 'properties/partials/button_draft.html' %}
                    {% comment %} {% include 'partials/properties/button_edit.html' %} {% endcomment %}
                    {% include 'properties/partials/button_delete.html' %}
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>