{% load static %}
{% load tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- logo -->
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}"> 
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- tailwind -->
    {% tailwind_css %}
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>{% block title %} {% endblock title %}</title>

    {% block head %}
      
    {% endblock head %}
      

  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >    

    <div class="wrapper">
    {% include 'partials/navbar.html' %}


    {% include 'partials/messages.html' %}


    {% block content %} {% endblock content %}

    </div>
    
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% include 'partials/top_button.html' %}
    {% endblock footer %}

    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- HTMX -->
    <script defer src="{% static 'lib/htmx-1.8/htmx.min.js' %}"></script>
    <!-- Alpine -->
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    <!-- HTMX -->
    <!-- <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>  -->

    {% block js %}
    {% endblock js %}

  </body>
</html>


